{% load static %}
{% block content %}  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href=" {% static './media/images/favicon.ico' %}" type="image/x-icon" sizes="16x16">
  <script src="https://kit.fontawesome.com/26aad5739c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static './css/style.css' %}" />
  <title>Py Eventos</title>
</head>
  <div class="formulario-container">
    <form method="post">
      {% csrf_token %} {{form.as_div}}
      <input type="submit" value="{{ tipo }}" />
    </form>

    <a href="{% url 'salon_app:evento_all' %}">Volver a Eventos</a>
  </div>

{% endblock %}