{% load static %}
{% block content %}  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href=" {% static './media/images/favicon.ico' %}" type="image/x-icon" sizes="16x16">
  <script src="https://kit.fontawesome.com/26aad5739c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}" />
  <title>Py Eventos</title>
</head>
<div class="fondo">
    <h2><i>EVENTOS</i></h2>
    <h3 class="crear_evento"><a href="{% url 'salon_app:create' %}"><b>Crear Evento</b></a></h3>
    <h3 class="evento_mes">EVENTOS DEL MES</h3>
    <div class="list">
      {% for evento in evento_list %}
      <fieldset>
        <legend>Nombre: {{evento.nombre}}</legend><br>
        <ul>
          <li>Descripción: {{evento.descripcion}}</li>
          <li>Fecha: {{evento.fecha}}</li>
        </ul><br>

        <div class="detalle-evento">
          <a href="{% url 'salon_app:detail' pk=evento.pk %}">
            Detalle de {{evento.nombre}} [ 📋 ]</a
          >
        </div>
        <div class="borrar-evento">
            <a href="{% url 'salon_app:delete' pk=evento.pk %}">
            ¬ Borrar {{evento.nombre }} [ ❌ ] </a
          >
        </div>
        <div class="editar-evento">
            <a href="{% url 'salon_app:update' pk=evento.pk %}">
            ¬ Editar {{evento.nombre }} [ ✔️ ]</a
          >
        </div>
      </fieldset>
      {% endfor %}
    </div>
  </div>

  {% endblock %}